form table.ss-gridfield-table thead tr th.sortablerowsheading {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form table.ss-gridfield-table thead tr th.sortablerowsheading .gridfield-sortablerows input[type=checkbox] {
	height: auto;
}

form table.ss-gridfield-table thead tr th.sortablerowsheading .gridfield-sortablerows {
	line-height: 28px;
}

form table.ss-gridfield-table thead tr th.sortablerowsheading .gridfield-sortablerows button {
	display: none;
}

form .ss-gridfield {
	position: relative;
}

form .ss-gridfield .gridfield-sortablerows-movepage .sortablerows-psort-arrow {
	background: #98AAB6;
	
	display: none;
	
	font-weight: bold;
	color: #FFFFFF;
	
	position: absolute;
	
	width: 40px;
	
	opacity: 0.4;
	
	text-align: center;
	
	line-height: normal;
	
	overflow: hidden;
	
	z-index: 2000;
}

form .ss-gridfield .gridfield-sortablerows-movepage .sortablerows-psort-arrow i {
	display: block;
	
	position: relative;
	
	position: absolute;
	top: 50%;
	
	white-space: nowrap;
}

form .ss-gridfield .gridfield-sortablerows-movepage .sortablerows-psort-arrow i:before {
	display: block;
	
	content: " ";
	
	position: absolute;
	top: -30px;
	left: 50%;
	
	height: 0;
	width: 0;
	
	border: solid transparent;
	border-width: 14px;
	border-bottom-color: #FFFFFF;
	
	margin-left: -8px;
}

form .ss-gridfield .gridfield-sortablerows-movepage .sortablerows-psort-arrow:hover {
	opacity: 0.7;
	
	text-decoration: none;
}

form .ss-gridfield .gridfield-sortablerows-movepage .sortablerows-prev-page {
	left: 0;
}

form .ss-gridfield .gridfield-sortablerows-movepage .sortablerows-prev-page i {
	left: 20px;
	
	-o-transform: rotate(270deg) translateX(-50%);
	-ms-transform: rotate(270deg) translateX(-50%);
	-moz-transform: rotate(270deg) translateX(-50%);
	-webkit-transform: rotate(270deg) translateX(-50%);
	transform: rotate(270deg) translateX(-50%);
	
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

form .ss-gridfield .gridfield-sortablerows-movepage .sortablerows-next-page {
	right: 0;
}

form .ss-gridfield .gridfield-sortablerows-movepage .sortablerows-next-page i {
	right: 36px;
	
	-moz-transform: rotate(90deg) translateX(50%);
	-o-transform: rotate(90deg) translateX(50%);
	-ms-transform: rotate(90deg) translateX(50%);
	-webkit-transform: rotate(90deg) translateX(50%);
	transform: rotate(90deg) translateX(50%);
	
	-o-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	-moz-transform-origin: bottom right;
	-webkit-transform-origin: bottom right;
	transform-origin: bottom right;
}

form table.ss-gridfield-table.dragSorting tbody tr td {
	cursor: move;
}

form table.ss-gridfield-table.dragSorting .ui-sortable-helper {
	display: table;
}