language: php 
php: 
 - 5.3

sudo: false

env:
 - DB=MYSQL CORE_RELEASE=3.0
 - DB=MYSQL CORE_RELEASE=3.1
 - DB=MYSQL CORE_RELEASE=3.2
 - DB=PGSQL CORE_RELEASE=3.0
 - DB=PGSQL CORE_RELEASE=3.1
 - DB=PGSQL CORE_RELEASE=3.2
 - DB=SQLITE3 CORE_RELEASE=3.0
 - DB=SQLITE3 CORE_RELEASE=3.1
 - DB=SQLITE3 CORE_RELEASE=3.2

matrix:
    allow_failures:
     - env: DB=MYSQL CORE_RELEASE=3.2
     - env: DB=PGSQL CORE_RELEASE=3.2
     - env: DB=SQLITE3 CORE_RELEASE=3.2
 
before_script:
 - phpenv rehash
 - git clone git://github.com/silverstripe-labs/silverstripe-travis-support.git ~/travis-support
 - php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss
 - cd ~/builds/ss

script: 
 - phpunit sortablegridfield/tests/
