<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <testsuites>
        <testsuite name="Default">
            <directory suffix=".php">tests/PHPUnit</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>sanitychecks</group>
        </exclude>
    </groups>

    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests/</directory>
        </exclude>
    </coverage>

    <php>
        <get name="flush" value="1"/>
    </php>
</phpunit>
