SS_ENVIRONMENT_TYPE="dev"
SS_TRUSTED_PROXY_IPS="*"

SS_DATABASE_CLASS="MySQLPDODatabase"
SS_DATABASE_SERVER="127.0.0.1"
SS_DATABASE_USERNAME="root"
SS_DATABASE_PASSWORD="testpassword"
SS_DATABASE_NAME="test_db"

SS_DEFAULT_ADMIN_USERNAME="username"
SS_DEFAULT_ADMIN_PASSWORD="password"

SS_ERROR_LOG="artifacts/silverstripe-errors.log"

TRAVIS_TEST_SESSION="1"
